
@model IEnumerable<GameSite.Data.Entities.Order>

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="text-center text-uppercase mt-5">List of Orders</h4>
<table class="table table-bordered mt-5 table-responsive-lg">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserId)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.AddressLine1)</th>
            <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
            <th>@Html.DisplayNameFor(model => model.Country)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.OrderPlaced)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
        <tr>
            <td>@order.UserId</td>
            <td>@order.FirstName</td>
            <td>@order.LastName</td>
            <td>@order.AddressLine1</td>
            <td>@order.ZipCode</td>
            <td>@order.Country</td>
            <td>@order.Email</td>
            <td>@order.OrderPlaced</td>
            <td>@order.Price.ToString("c")</td>

            <td>
                <a class="btn btn-block btn-danger" asp-action="Delete" asp-route-id="@order.OrderId">Delete</a>
            </td>
        </tr>

        }
    </tbody>
</table>