
@model IEnumerable<GameSite.Data.Entities.Game>

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="text-center text-uppercase mt-5">List of Games</h4>
@if (ViewContext.HttpContext.User.IsInRole("admin"))
{
    <p class="mt-5">
        <a asp-action="Add" class=" float-right btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New Games</a>
    </p>
}
<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PhotoPath)</th>
            <th>@Html.DisplayNameFor(model => model.GameName)</th>
            <th>@Html.DisplayNameFor(model => model.GameCreator)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.GenreName)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            @if (ViewContext.HttpContext.User.IsInRole("admin"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@game.PhotoPath"
                         height="200" width="150"
                         asp-append-version="true" />
                </td>
                <td>
                    @game.GameName
                </td>
                <td>@game.GameCreator</td>
                <td>@game.Price.ToString("c")</td>
                <td>@game.GenreName</td>
                <td>@game.Description</td>
                @if (ViewContext.HttpContext.User.IsInRole("admin"))
                {
                    <td>
                        <a class="btn btn-block btn-primary" asp-action="Edit" asp-route-id="@game.GameId">Edit</a>
                        <a class="btn btn-block btn-info" asp-action="Details" asp-route-id="@game.GameId">Details</a>
                        <a class="btn btn-block btn-danger" asp-action="Delete" asp-route-id="@game.GameId">Delete</a>
                    </td>
                }
            </tr>

        }
    </tbody>
</table>

@section scripts{
    <script>

    </script>
}