@model IEnumerable<GameSite.Data.Entities.ConsoleUnit>
@{
    ViewData["Title"] = "Index";
}
<h4 class="text-center text-uppercase mt-5">List of Consoles</h4>
@if (ViewContext.HttpContext.User.IsInRole("admin"))
{
    <p class="mt-5">
        <a asp-action="Create" class=" float-right btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New Genre</a>
    </p>
}
<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayNameFor(model => model.ConsoleName)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.Description)</th>

            @if (ViewContext.HttpContext.User.IsInRole("admin"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var console in Model)
        {
            <tr>
                <td class="text-center"> @Html.DisplayFor(modelitem => console.ConsoleName)</td>
                <td class="text-center"> @Html.DisplayFor(modelitem => console.Description)</td>

                @if (ViewContext.HttpContext.User.IsInRole("admin"))
                {

                    <td>
                        <a class="btn btn-block btn-primary" asp-action="Edit" asp-route-id="@console.ConsoleId">Edit</a>
                        <a class="btn btn-block btn-info" asp-action="Details" asp-route-id="@console.ConsoleId">Details</a>
                        <a class="btn btn-block btn-danger" asp-action="Delete" asp-route-id="@console.ConsoleId">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
