@model IEnumerable<GameSite.Data.Entities.Genre>
@{
    ViewData["Title"] = "Index";
}
<h4 class="text-center text-uppercase mt-5">List of Genres</h4>
@if (ViewContext.HttpContext.User.IsInRole("admin"))
{
    <p class="mt-5">
        <a asp-action="Create" class=" float-right btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New Genre</a>
    </p>
}
<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayNameFor(model => model.GenreName)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.GenreDescription)</th>

            @if (ViewContext.HttpContext.User.IsInRole("admin"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
        <tr>
            <td class="text-center"> @Html.DisplayFor(modelitem => genre.GenreName)</td>
            <td class="text-center"> @Html.DisplayFor(modelitem => genre.GenreDescription)</td>

            @if (ViewContext.HttpContext.User.IsInRole("admin"))
            {

                <td>
                    <a class="btn btn-block btn-primary" asp-action="Edit" asp-route-id="@genre.GenreId">Edit</a>
                    <a class="btn btn-block btn-info" asp-action="Details" asp-route-id="@genre.GenreId">Details</a>
                    <a class="btn btn-block btn-danger" asp-action="Delete" asp-route-id="@genre.GenreId">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
